@import url(https://fonts.googleapis.com/css?family=Open+Sans:200,400,700);
@import url(https://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,700);
@import url(https://fonts.googleapis.com/css?family=Lora);

html { -webkit-font-smoothing: antialiased; }
body {
	font-family: 'Open Sans', sans-serif;
	overflow-x: hidden;
}
.container{
	padding-left: 20px;
	padding-right: 20px;
}

#cover {
  width: 100%;
  height: 100vh;
  min-height: 600px;
  position: relative;
  font-family: 'Open Sans', sans-serif;
  background-color: #1f1f1f;
  -webkit-animation:1s unveil;
}

#heading {
  z-index: 10;
}

#links {
	text-align: center;
}

#linkedin{
	-webkit-animation:4s linksina;
} 

#linkedin img{
	background-color: white;
}
#linkedin img:hover{
	background-color: #c0392b;
}
#github{
	-webkit-animation:4.5s linksina;
}
#github img{
	background-color: white;
}
#github img:hover{
	background-color: #c0392b;
}
#mailto{
	-webkit-animation:5s linksina;
}
#mailto img{
	background-color: white;
}
#mailto img:hover{
	background-color: #c0392b;
}

#heading #profile_pic img{
	width: 250px;
	height: 250px;
}
#heading #profile_pic{
	margin: auto;
	padding-top: 40px;
	text-align: center;
	-webkit-animation:6s hdown;
}

#heading h1{
	margin: auto;
	margin-top: 5px;
	color: white;
	text-align: center;
	font-size: 35pt;
	font-weight: 400;
	-webkit-animation:2s unblur;
}
#heading p{
	width: 60%;
	max-width: 700px;
	margin: 0 auto;
	color: white;
	text-align: center;
	padding-top: 30px;
	font-size: 16pt;
	font-weight: 400;
	-webkit-animation:3s hdown;
	margin-bottom: 10px;

}

#heading #read_more{
	width: 50%;
	text-align: center;
	margin: 0 auto;
	margin-top: 20vh;
	-webkit-animation:6s linksina;
}


#heading button{
	padding: 12px 20px;
	border: 2px solid rgba(255,255,255,.6);
	background: none;
	color: white;
}
#heading button:hover{
	border: 2px solid white;
}


/*Iphone 6*/
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) {
	#heading p {
		font-size: 12pt;
		width: 80%;
	}
}
/*Iphone 6+*/
@media only screen 
and (min-device-width : 412px) 
and (max-device-width : 736px) {
	#heading #read_more{
		margin-top: 70px;
	}
}

/*Iphone 5/5+*/
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {
	#heading h1{
		font-size: 20pt;
		margin-top: 0px;

	}
	#heading p {
		font-size: 12pt;
		width: 80%;
		padding-top: 20px;
	}
}



@-webkit-keyframes unveil{
	0%{opacity:0;}
	100%{opacity:1;}
}
@-webkit-keyframes unblur{
	0%,50% {opacity:0;-moz-filter:blur(30px);-ms-filter:blur(30px);-o-filter:blur(30px);-webkit-filter:blur(30px);filter:blur(30px)}
	100%{opacity:1;-moz-filter:blur(0);-ms-filter:blur(0);-o-filter:blur(0);-webkit-filter:blur(0);filter:blur(0)}
}
@-webkit-keyframes hdown{
	0%,75%{opacity:0;-webkit-transform:translateY(-75px);transform:translateY(-75px)}
	100%{opacity:1}
}
@-webkit-keyframes linksina{
	0%,75%{-webkit-transform:rotateX(-90deg);transform:rotateX(-90deg);opacity:0}
	100%{opacity:1}
}


div.row{
	margin: 0px auto;
}

footer.footer {
	margin: 0px 50px;
}

hr {
	margin: 0px 50px;
}

#header {
	margin-top: 40px;
	margin-bottom: 5px;
	border-bottom: 3px solid black;
}

p.contact {
	margin: 0px;
	padding: 0px;
}

ul{
	margin:0;
    padding:0;
	list-style-position: inside;
}

li{
	list-style-type: square;
	font-size: 15px;
}

h1{
	margin: 0px;
	padding-top: 15px;
	padding-bottom: 5px;
	font-size: 65px;
}


h3{
	font-family: 'Lora', serif;
	font-size: 29px;
	padding-bottom: 8px;
	margin-bottom: 0px;
	border-bottom: 1px solid #7f8c8d;
}

h4{
	font-size: 19px;
	margin: 0px;
	margin-top: 8px;
	margin-bottom: 8px;
}

p{
	font-size: 16px;
	margin: 0px;
	margin-bottom: 3px;
}


@media (min-width: 1000px) {
	#coursework{
		padding-left: 0px;
		padding-right: 4px;
	}
}

#projects{
	margin-top: 2px;
}

#activities{
	display: table;
	width: 100%;
	list-style: none;
}

#activities li{
	display: table-cell;
	text-align: center;
}

@media (max-width: 1000px) {
	.activity{
		display: none;
	}
}

#download{
	text-align: center;
	margin-bottom: 50px;
}

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius:0;
}
 
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
 
.btn-primary {
    background: #c0392b;
    color: #ffffff;
}
 
.btn-primary:hover, .btn-primary:focus, .btn-primary:active,.btn-primary:visited, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #df392b;
}
 
.btn-primary:active, .btn-primary.active {
    background: #c0392b;
    box-shadow: none;
}

